{% extends 'chat/base.html' %}
{% block title %}Cookie Policy | Orgachat{% endblock title %}

{% block description %}Orgachat Cookie Policy. What cookies we use, why and how{% endblock description %}

{% block content %}
<div class="center">
    <h2>Google Analytics</h2>
</div>
<p>We use Google Analytics cookie to collect information that can help us to improve faster</p>
<p>Information we collect are not personal data but behaviour data, this can include: What pages have
    the most bounce rate? How many times does users open our app and so on </p>
<div class="center">
    <h2>CSRF TOKEN</h2>
</div>
<p>Used to protect your data from hackers when submitting any form</p>
{% enblock content %}