{% load static %}
{% load webpush_notifications %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Adsense -->
    <script data-ad-client="ca-pub-2852400661142864" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- End google Adsense -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176113474-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-176113474-1');
    </script>

    <!-- Favicon Start -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'chat/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'chat/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'chat/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'chat/favicons/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'chat/favicons/safari-pinned-tab.svg' %}" color="#4cd137">
    <link rel="shortcut icon" href="{% static 'chat/favicons/favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="Orgachat">
    <meta name="application-name" content="Orgachat">
    <meta name="msapplication-TileColor" content="#4cd137">
    <meta name="msapplication-config" content="{% static 'chat/favicons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- Favicon ends -->

    <!-- Libraries -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <script async src="https://kit.fontawesome.com/78f2495e06.js" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <title>{% block title %} {% endblock title %}</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TF2LM2J" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header>
        <nav
            class="navbar navbar-main fixed-top navbar-dark navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-expand">
            <a class="navbar-brand" style="margin-right: 30px !important" href="{% url 'home' %}">
                <img src="{% static 'chat/img/favicon.png' %}" width="40" height="40"
                    class="d-inline-block align-top mr-1" alt="" loading="lazy">
                <span class="nav-label">Orgachat</span>
            </a>
            <ul class="navbar-nav">
                {% if not request.user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'signupuser' %}"><span class="nav-label">Sign Up / In</span></a>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'users:profile' %}"><img src="{{user.avatar.url}}" alt=""
                            width="45" height="45" style="border-radius: 50%;" loading="lazy">
                        <span class="nav-label">{{ user.username }}</span></a>
                </li>
                {% endif %}
                <li class="nav-item active">
                    <a class="nav-link" href="{%  url 'users:all_users' %}"><i class="fas fa-users"></i> <span
                            class="nav-label">Users</span></a>
                </li>
            </ul>
            <!-- -----------Dropdown------------ -->
            <div class="dropleft">
                <button class="btn" onclick="toggleDropdown('#mainDropdown')"><i class="fas fa-ellipsis-h"
                        style="font-size: 40px; color: #ff0000;"></i></button>
                <div class="dropdown-menu" id="mainDropdown">
                    <button class="dropdown-item btn {% if not user or not user.is_installed%} btn-install {% endif %}"
                        onclick="openModal('#installOrgachat')"><i class="fas fa-download"></i> Install
                        Orgachat</button>
                    <br>

                    <button class="btn dropdown-item" style="position: relative;">
                        <i class="fas fa-bell"
                            style="font-size: 20px; margin-top: 10px; position: absolute; left: 0px;"></i>{% webpush_header %}{% webpush_button with_class="btn float-right" %}
                    </button>

                    <button type="button" class="btn" onclick="openModal('#addGroup')"><i class="fas fa-plus"></i> Add
                        Group</button>

                    <!-- <a class="dropdown-item" href="https://www.surveymonkey.com/r/5WMYSSX" target="_blank">Feedback</a> -->
                    <hr>
                    {% if user.is_authenticated %}
                    <!-- AddToAny BEGIN -->
                    <div class="a2a_kit a2a_kit_size_32 a2a_default_style"
                        data-a2a-url="https://orgachat.com/users/add-friend/{{user.id}}/?utm_source=orgachat&amp;utm_medium=referral&amp;utm_campaign=invite_friend"
                        data-a2a-title="Orgachat Friend Invitation link">
                        <button href="" class="btn">
                            <a class="a2a_dd" id="profile-page" href="https://www.addtoany.com/share"></a> &nbsp; Invite
                            a Friend
                        </button>
                    </div>
                    <script>
                        var a2a_config = a2a_config || {};
                        a2a_config.onclick = 1;
                    </script>
                    <script async src="https://static.addtoany.com/menu/page.js"></script>
                    <!-- AddToAny END -->
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'users:about' %}">About</a>
                    <a class="dropdown-item" href="{% url 'users:about' %}"><i class="fas fa-question-circle"></i> Frequently Asked Questions</a>
                    <form action="{% url 'logoutuser' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="dropdown-item"
                            onclick="return confirm('You are about to logout')">Logout</button>
                    </form>
                </div>
            </div>
            <!-- -----------End Dropdown------------ -->
        </nav>

        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% else %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                {% endif %}
                {{ message|safe }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" onclick="this.style.display = 'none'">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}

    </header>

    <main>
        {% block content %}{% endblock content %}
        <div class="modal-backdrop show fade" id="backdrop" style="display: none;"></div>

        <!-- ------------------------------- -->
        <!-- Modal -->
        <!-- ------------------------------- -->

        <!-- -----------Install--------- -->
        <div class="modal fade" id="installOrgachat" tabindex="-1" role="dialog" aria-labelledby="installOrgachatLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="install-card">
                            <div class="left flex">
                                <br>
                                <h1 class="title">Orgachat. Perfect for</h1>
                                <br>
                                <ul>
                                    <li>Managing teams</li>
                                    <li>organizing chat</li>
                                    <li>having more organized life!</li>
                                </ul>
                            </div>
                            <div class="right center">
                                <img src="{% static 'chat/img/logo.png' %}" alt="" width="100" height="100"
                                    loading="lazy">
                                {% if user.is_authenticated %}
                                <div class="btn" id="addToHomescreen">
                                    <div class="btn-install">
                                        <div class="btn-text flex text-white">
                                            Install Now
                                        </div>
                                        <div class="btn-icon">
                                            <i class="far fa-arrow-alt-circle-down"></i>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <p class="btn-rose p-2">Please Login first</p>
                                {% endif %}
                            </div>
                            <div class="alert alert-danger" id="errInstallApp" style="display: none;">make sure you are
                                using
                                <b>Google Chrome</b> and the app isn't already installed
                                on your device, or you won't be able to download Orgachat.
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            onclick="closeModal('#installOrgachat')">No thanks</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ---------Add Group---------- -->
        <div class="modal fade" id="addGroup" tabindex="-1" role="dialog" aria-labelledby="addGroupLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addGroupLabel">Add Group</h5>
                        <button type="button" class="close" onclick="closeModal('#addGroup')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'chat:create_group' %}" method="post">
                            {% csrf_token %}
                            <input type="text" name="name" id="id_name" placeholder="Group Name" required maxlength="50"
                                class="from-control">
                            <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <link rel="stylesheet" href="{% static 'chat/css/main.css' %}">
    <script src="{% static 'chat/js/main.js' %}"></script>

    <!-- Service Worker.js -->
    <script>
        // if ('serviceWorker' in navigator) {
        //     navigator.serviceWorker.register('{% url "sw.js" %}', {
        //         scope: '/'
        //     }).then(function (reg) {
        //         // registration worked
        //         console.log('Registration succeeded. Scope is ' + reg.scope);
        //     }).catch(function (error) {
        //         // registration failed
        //         console.log('Registration failed with ' + error);
        //     });
        // }

        caches.keys().then(cacheNames => {
            cacheNames.forEach(value => {
                caches.delete(value);
                console.log('Deleted cache')
            });
        })
        navigator.serviceWorker.getRegistrations().then(function (registrations) {
            for (let registration of registrations) {
                registration.unregister()
                console.log('Unregistered')
            }
        })
    </script>
</body>

</html>