{% load static %}
{% load webpush_notifications %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Favicon Start -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'chat/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'chat/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'chat/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'chat/favicons/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'chat/favicons/safari-pinned-tab.svg' %}" color="#4cd137">
    <link rel="shortcut icon" href="{% static 'chat/favicons/favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="Orgachat">
    <meta name="application-name" content="Orgachat">
    <meta name="msapplication-TileColor" content="#4cd137">
    <meta name="msapplication-config" content="{% static 'chat/favicons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    {% webpush_header %}

    <!-- Font awesome -->
    <script type="text/javascript">
        (function () {
            var css = document.createElement('link');
            css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css';
            css.rel = 'stylesheet';
            css.type = 'text/css';
            document.getElementsByTagName('head')[0].appendChild(css);
        })();
    </script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <title>{% block title %} {% endblock title %}</title>
</head>

<body>
    <header>
        <nav
            class="navbar navbar-main fixed-top navbar-dark navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-expand">
            <a class="navbar-brand" style="margin-right: 30px !important" href="{% url 'home' %}">
                <img src="{% static 'chat/img/favicon.png' %}" width="40" height="40"
                    class="d-inline-block align-top mr-1" alt="" loading="lazy">
                <span class="nav-label">Orgachat</span>
            </a>
            <ul class="navbar-nav">
                {% if not request.user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link btn-primary" href="{% url 'signupuser' %}">Sign Up</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link btn-primary" href="{% url 'loginuser' %}">Login</a>
                </li>
                {% else %}
                <li class="nav-item active" id="userProfileLi" data-badge_count="{{user.badge_count}}">
                    <a class="nav-link" href="{% url 'users:profile' %}"><img src="{{user.avatar.url}}" alt=""
                            width="45" height="45" style="border-radius: 50%;" loading="lazy">
                        <span class="nav-label">{{ user.username }}</span></a>
                </li>
                {% endif %}
                <li class="nav-item active pr-4"></li>
            </ul>
            <!-- -----------Dropdown------------ -->
            <div class="dropleft">
                <button class="btn" onclick="toggleDropdown('#mainDropdown')"><i class="fas fa-ellipsis-h"
                        style="font-size: 40px; color: #ff0000;"></i></button>
                <div class="dropdown-menu" id="mainDropdown">
                    <button class="dropdown-item btn btn-install" onclick="openModal('#installOrgachat')"><i
                            class="fas fa-download"></i> Install
                        Orgachat</button>
                    <br>
                    {% webpush_button with_class="btn btn-outline-info" %}
                    <hr>
                    <a class="dropdown-item" href="{% url 'users:about' %}">About</a>
                    <!-- <a class="dropdown-item" href="{% url 'users:about' %}"><i class="fas fa-question-circle"></i>
                        Frequently Asked Questions</a> -->
                    <form action="{% url 'logoutuser' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="dropdown-item"
                            onclick="return confirm('You are about to logout')">Logout</button>
                    </form>
                </div>
            </div>
            <!-- -----------End Dropdown------------ -->
        </nav>

        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% else %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                {% endif %}
                {{ message|safe }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" onclick="this.style.display = 'none'">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}

    </header>

    <main>
        {% block content %}{% endblock content %}
        <audio id="toastNotif" style="display: none;">
            <source src="{% static 'chat/data/toastNotif.wav' %}" type="audio/wav">
        </audio>
        <div class="modal-backdrop show fade" id="backdrop" style="display: none;"></div>

        <!-- ------------------------------- -->
        <!-- Modal -->
        <!-- ------------------------------- -->

        <!-- -----------Install--------- -->
        <div class="modal fade" id="installOrgachat" tabindex="-1" role="dialog" aria-labelledby="installOrgachatLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div style="margin-left: 70%">
                        <button class="btn btn-danger float-right" onclick="closeModal('#installOrgachat')"><i
                                class="fas fa-times"></i></button>
                    </div>
                    <div class="modal-body">
                        <div class="install-card">
                            <div class="left flex">
                                <br>
                                <h1 class="title">ORGACHAT, PERFECT FOR</h1>
                                <br>
                                <ul>
                                    <li>Managing teams</li>
                                    <li>organizing chat</li>
                                    <li>having more organized life!</li>
                                </ul>
                            </div>
                            <div class="right center">
                                <img src="{% static 'chat/img/logo.png' %}" alt="" width="100" height="100"
                                    loading="lazy">
                                <div class="btn" id="addToHomescreen">
                                    <div class="btn-install">
                                        <div class="btn-text flex text-white">
                                            Install Now
                                        </div>
                                        <div class="btn-icon">
                                            <i class="far fa-arrow-alt-circle-down"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <p>Don't see the button? possible reasons:
                            <ul>
                                <li>App is already installed</li>
                                <li>Not using Google Chrome</li>
                                <li>Using Iphone mobile, due to security options from them. You can disable it manually
                                </li>
                            </ul>
                            <p>If you didn't do anything wrong and still can't install the app please contact us <a
                                    href="https://www.orgachat.com/users/view/2/">Orgachat Official Account</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="toast">
            <img src="{% static 'chat/img/favicon.png' %}" id="toastImg">
            <div id="toastDesc">A notification message..</div>
        </div>
    </main>
    <link rel="stylesheet" href="{% static 'chat/css/main.css' %}">
    <script src="{% static 'chat/js/main.js' %}"></script>

    <!-- ------------------------------------ -->
    <!-- ------------------------------------ -->
    <!-- SERVICE WORKER.JS -->
    <script>
        // -------------------------END PWA-------------------------
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('{% url "sw.js" %}', {
                    scope: '/'
                })
                .then(function (swReg) {
                    console.log('Service Worker is registered', swReg);
                    swRegistration = swReg;
                    // initializeUI();
                })
                .catch(function (error) {
                    console.error('Service Worker Error', error);
                });
        } else {
            console.warn('Service Worker is not supported');
            pushButton.textContent = 'Push Not Supported';
        }
        // -------------------------END PWA-------------------------
    </script>
    <!-- Google Adsense -->
    <script data-ad-client="ca-pub-2852400661142864" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- End google Adsense -->
</body>
</html>