{% extends 'chat/base.html' %}
{% load static %}
{% load webpush_notifications %}

{% block title %}Home | Orgachat{% endblock title %}

{% block description %}Have an organized chat with your friends.{% endblock description %}

{% block content %}

<div class="container">
    <section>
        <!-- Web push start -->
        {% webpush_header %}
        <i class="fas fa-bell" style="font-size:34px;"></i>{% webpush_button with_class="btn btn-outline-info" %}
        <!-- Web push end -->
        <a href="" class="btn btn-danger" onclick="return alert('Under developing, we will bring it soon')">Add To
            homepage</a>
        <small class="form-text text-muted">Make sure your that browser allows notification permission</small>
    </section>
    {% if rooms.count <= 0 %}
    <br>
    <section>
        <h2>Instructions</h2>
        <p>Find and add your friends <a href="{% url 'users:all_users' %}" target="_blank">Here</a></p>
        <p>Ask others to search for you by giving them your username</p>
        <p>The only information anyone can access (including us) is your username</p>
        <div class="alert alert-info">If you entered your email developers can see it but no one else. We will use it to
            contact you and make sure that you are happy with our app. Unsubscribing is very easy and we won't spam you
        </div>
    </section>
    <small class="form-text text-muted">You are seeing this because you don't have chat rooms</small>
    <br>
    <br>
    {% endif %}
    {% for room in rooms %}
    <p>{{ room.title }}
        {% if room.unread_count > 0 %}
        <span class="badge badge-danger ml-3 p-2" style="border-radius: 50%;">{{ room.unread_count }} </span></p>
    {% endif %}
    <p>{{ room.last_message }}</p>
    <a href="{% url 'chat:room' room.id %}" class="btn btn-success"><i class="far fa-comments"></i> Chat</a>
    <hr>
    {% endfor %}
</div>
<button type="button" class="btn btn-success" onclick="openModal('#addGroup')"
    style="border-radius: 200px; padding: 7px; position: fixed; bottom: 30px; right: 30px; font-size: 130%">
    <i class="fas fa-plus"></i> Add Group
</button>
<button type="button" class="btn btn-warning text-white"
    style="border-radius: 200px; padding: 7px; position: absolute; top: 70px; right: 30px; font-size: 130%"
    id="addToHomescreen">Add
    to Homescreen
</button>
<div class="modal fade" id="addGroup" tabindex="-1" role="dialog" aria-labelledby="addGroupLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addGroupLabel">Add Group</h5>
                <button type="button" class="close" onclick="closeModal('#addGroup')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'chat:create_group' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="name" id="id_name" placeholder="Group Name" required maxlength="50"
                        class="from-control">
                    <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'chat/js/home.js'%}"></script>
{% endblock content %}