{% extends 'chat/base.html' %}

{% block title %}Home | Orgachat{% endblock title %}

{% block description %}Have the most organized chat you can ever dream with here{% endblock description %}

{% block content %}

<div class="container">
    {% if rooms.count <= 0 %}
    <br>
    <div class="alert alert-danger">Known issue: Make sure to refresh the page after sending the "first message" or you
        won't see any new messages.</div>
    <section>

        <h2>Instructions</h2>
        <p>Find and add your friends <a href="{% url 'users:all_users' %}">Here</a></p>
        <p>Click on the bottom right button to add a chat group</p>
        <p>Add areas from the left sidebar (Areas are used to divide the chat)</p>
    </section>
    <small class="form-text text-muted">You are seeing this because you don't have chat rooms</small>
    <br>
    <br>
    {% endif %}
    {% for room in rooms %}
    <p>{{ room.title }}<span class="badge badge-danger ml-3 p-2"
            style="border-radius: 50%;">{{ room.unread_count }}</span></p>
    <p>{{ room.last_message }}</p>
    <a href="{% url 'chat:room' room.id %}" class="btn btn-success"><i class="far fa-comments"></i> Chat</a>
    <hr>
    {% endfor %}
</div>
<button type="button" class="btn btn-success" onclick="openModal('#addGroup')"
    style="border-radius: 200px; padding: 7px; position: fixed; bottom: 30px; right: 30px; font-size: 130%">
    <i class="fas fa-plus"></i> Add Group
</button>
<button type="button" class="btn btn-warning text-white"
    style="border-radius: 200px; padding: 7px; position: absolute; top: 70px; right: 30px; font-size: 130%"
    id="addToHomescreen">Add
    to Homescreen
</button>
<div class="modal fade" id="addGroup" tabindex="-1" role="dialog" aria-labelledby="addGroupLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addGroupLabel">Add Group</h5>
                <button type="button" class="close" onclick="closeModal('#addGroup')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'chat:create_group' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="name" id="id_name" placeholder="Group Name" required maxlength="50"
                        class="from-control">
                    <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    // ==========Survey Monkey=======
    (function (t, e, s, o) {
        var n, c, l;
        t.SMCX = t.SMCX || [], e.getElementById(o) || (n = e.getElementsByTagName(s), c = n[n.length - 1], l = e
            .createElement(s), l.type = "text/javascript", l.async = !0, l.id = o, l.src =
            "https://widget.surveymonkey.com/collect/website/js/tRaiETqnLgj758hTBazgd86QI2P093kSXZ_2Bob1kVnKEoJReaEZg_2FFTM1ZslL2XaC.js",
            c.parentNode.insertBefore(l, c))
    })(window, document, "script", "smcx-sdk");
    // ==========Survey Monkey=======
    let deferredPrompt;
    const addBtn = document.querySelector('#addToHomescreen');
    addBtn.style.display = 'none';
    window.addEventListener('beforeinstallprompt', (e) => {
        // Prevent Chrome 67 and earlier from automatically showing the prompt
        e.preventDefault();
        // Stash the event so it can be triggered later.
        deferredPrompt = e;
        // Update UI to notify the user they can add to home screen
        addBtn.style.display = 'block';

        addBtn.addEventListener('click', (e) => {
            // hide our user interface that shows our A2HS button
            // addBtn.style.display = 'none';
            // Show the prompt
            deferredPrompt.prompt();
            // Wait for the user to respond to the prompt
            deferredPrompt.userChoice.then((choiceResult) => {
                if (choiceResult.outcome === 'accepted') {
                    console.log('User accepted the A2HS prompt');
                } else {
                    console.log('User dismissed the A2HS prompt');
                }
                deferredPrompt = null;
            });
        });
    });
</script>
{% endblock content %}