{% extends 'chat/base.html' %}
{% load static %}

{% block title %}Home | Orgachat{% endblock title %}

{% block description %}Have an organized chat with your friends.{% endblock description %}

{% block content %}

<!-- -------------------New users with no chats------------------- -->
{% if unorganized_rooms.count <= 0 and user.homepagearea_set.count <= 0%}
<section>
    <p>Find and add your friends <a href="{% url 'users:all_users' %}" target="_blank"> Here</a></p>
    <p>Click on the three dots in the navbar to: Install the app, Add Groups, Divide homepage using Homepage Areas,
        and much others</p>
    <p>Check your profile <a href="{% url 'users:profile' %}">Here</a> and update your profile and privacy</p>
    <p>We will send you messages through email to keep you updated, if you want to disable this feature reply with
        "No" or "Unsubscribe"</p>
    <small class="form-text text-muted">You are seeing this because you don't have chat rooms</small>
</section>
{% endif %}
<!-- -------------------End new users with no chats------------------- -->

<!-- -------------------Homepage Areas------------------- -->
{% for area in user.homepagearea_set.all %}
<div class="accordion">
    <div class="card">
        <div class="card-header">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block" onclick="toggleCollapse('#area{{area.id}}')">
                    {{area.title}} <a href="#" type="button" class="badge badge-danger ml-3">{{area.unread_count}}</a>
                </button>
            </h2>
        </div>

        <div id="area{{area.id}}" class="collapse">
            {% if area.room_set.count <= 0 %}
            <p>Hold the chat room you want to add here. This area is currently Empty</p>
            {% endif %}
            <div id="chatbox">
                {% for room in area.room_set.all %}
                <a href="{% url 'chat:room' room.id %}" id="openRoom{{room.id}}">
                    <div class="friend" onclick="document.querySelector('#openRoom{{room.id}}').click()"
                        data-id="{{room.id}}">
                        <img src="{{room.imageURL}}" loading="lazy" width="50" height="50" />
                        <a href="#" type="button" style="font-size: 120%"
                            class="badge badge-danger mt-4">{% if room.unread_count > 0 %}{{room.unread_count}}{% endif %}</a>
                        <p>
                            <strong>{{room.title}} {% if room.type == "group" %} &mdash; <i class="fas fa-users"></i>
                                {% endif %}</strong>
                            <br>
                            <span>{{room.last_message}}</span>
                        </p>
                    </div>
                </a>
                <br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!-- -------------End Homepage Areas------------- -->

<!-- -------------UnOrganized Areas------------- -->

<!-- -------------End UnOrganized Areas------------- -->
<div class="accordion">
    <div class="card">
        <div class="card-header">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block" onclick="toggleCollapse('#areaothers')">
                    Others (Unorganized) <a href="#" type="button"
                        class="badge badge-danger ml-3">{{unorganized_count}}</a>
                </button>
            </h2>
        </div>

        <div id="areaothers" class="{% if user.homepagearea_set.count > 0 %}collapse{% endif %}">
            <div id="chatbox">
                {% if unorganized_rooms.count <= 0 %}
                <p>Hold the chat room you want to add here. This area is currently Empty</p>
                {% endif %}
                {% for room in unorganized_rooms %}
                <a href="{% url 'chat:room' room.id %}" id="openRoom{{room.id}}">
                    <div class="friend" onclick="document.querySelector('#openRoom{{room.id}}').click()"
                        data-id="{{room.id}}">
                        <img src="{{room.imageURL}}" loading="lazy" width="50" height="50" />
                        <a href="#" type="button" style="font-size: 120%"
                            class="badge badge-danger mt-4">{% if room.unread_count > 0 %}{{room.unread_count}}{% endif %}</a>
                        <p>
                            <strong>{{room.title}} {% if room.type == "group" %} &mdash; <i class="fas fa-users"></i>
                                {% endif %}</strong>
                            <br>
                            <span>{{room.last_message}}</span>
                        </p>
                    </div>
                </a>
                <br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<button class="btn btn-warning" style="position: fixed; bottom: 60px; right: 60px; border-radius: 200px;"
    onclick="openModal('#addArea')"><i class="fas fa-plus"></i> Add Homepage area</button>

<!-- ------------------------------------ -->
<!-- Modals -->
<!-- ------------------------------------ -->
<div class="modal fade" id="addArea" tabindex="-1" role="dialog" aria-labelledby="addAreaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div class="center">
                    <h2 class="modal-title" id="addAreaLabel">Add Homepage Area</h2>
                </div>
                <button type="button" class="close" onclick="closeModal('#addArea')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'chat:create_homepage_area' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="title" id="id_title" placeholder="Homepage Area Title" required
                        maxlength="50" class="from-control">
                    <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i></button>
                </form>
                <br>
                <small>Homepage Areas are used to divide your homepage friends and groups</small>
                <small class="form-text text-muted">We will move the "Add Homepage Area" button to the three
                    dots</small>
            </div>
        </div>
    </div>
</div>

<!-- -------------Modals-------------- -->
<div class="modal fade" id="editRoom" tabindex="-1" role="dialog" aria-labelledby="editRoomLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="center">
                    <h2 class="modal-title" id="editRoomLabel">Edit Chat Room</h2>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    onclick="closeModal('#editRoom')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="center">
                    <h2>Homepage Area</h2>
                </div>

                {% for area in user.homepagearea_set.all %}
                <p class="float-left">{{area.title}}</p>
                <a href="{% url 'chat:move_room' area.id %}" class="btn btn-outline-success ml-3 btn-sm moveRoomBtn"><i
                        class="fas fa-plane"></i> Move</a>
                <br>
                <br>
                {% endfor %}
                <p class="float-left">Others (Unorganized)</p>
                <a href="{% url 'chat:move_room' 0 %}" class="btn btn-outline-success ml-3 btn-sm moveRoomBtn"><i
                        class="fas fa-plane"></i> Move</a>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="{% static 'chat/css/home.css' %}">
<script>
    (function (t, e, s, o) {
        var n, c, l;
        t.SMCX = t.SMCX || [], e.getElementById(o) || (n = e.getElementsByTagName(s), c = n[n.length - 1], l = e
            .createElement(s), l.type = "text/javascript", l.async = !0, l.id = o, l.src =
            "https://widget.surveymonkey.com/collect/website/js/tRaiETqnLgj758hTBazgd0n20gVIxFU5pdnj7q5ydpIoQu0XNaYyt5ksYgBbb8pT.js",
            c.parentNode.insertBefore(l, c))
    })(window, document, "script", "smcx-sdk");
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var longpress = false;
        var presstimer = null;
        var longtarget = null;
        var cancel = function (e) {
            if (presstimer !== null) {
                clearTimeout(presstimer);
                presstimer = null;
            }

            this.classList.remove("longpress");
        };

        var click = function (e) {
            if (presstimer !== null) {
                clearTimeout(presstimer);
                presstimer = null;
            }

            this.classList.remove("longpress");

            if (longpress) {
                return false;
            }
        };

        var start = function (e) {

            if (e.type === "click" && e.button !== 0) {
                return;
            }

            longpress = false;

            this.classList.add("longpress");

            if (presstimer === null) {
                roomId = this.getAttribute("data-id")
                presstimer = setTimeout(function () {
                    openModal("#editRoom")
                    longpress = true;
                }, 1000);
            }

            return false;
        };
        var roomId = 1;
        var rooms = document.querySelectorAll('.friend')

        function addHoldListener(node) {
            node.addEventListener("mousedown", start);
            node.addEventListener("touchstart", start);
            node.addEventListener("click", click);
            node.addEventListener("mouseout", cancel);
            node.addEventListener("touchend", cancel);
            node.addEventListener("touchleave", cancel);
            node.addEventListener("touchcancel", cancel);
        }
        for (room of rooms) {
            addHoldListener(room)
        }

        // Move Room
        var moveBtns = document.querySelectorAll(".moveRoomBtn")
        for (btn of moveBtns) {
            btn.onclick = function (e) {
                e.preventDefault()
                var xhr = new XMLHttpRequest()
                xhr.onreadystatechange = function (e) {
                    if (this.readyState == 4 && this.status == 200) {
                        alert("Please refresh or restart the app to see changes")
                    }
                }
                xhr.open("POST", this.getAttribute("href"), true)
                let data = {
                    "room_id": roomId,
                };
                xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
                xhr.setRequestHeader("X-CSRFToken", "{{csrf_token}}")
                xhr.send(JSON.stringify(data))
            }
        }
    });
</script>

<!-- ----------------------Show Latest updates to user------------------ -->
<div class="modal fade" id="latestUpdate" tabindex="-1" role="dialog" aria-labelledby="latestUpdateLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #fa8231;">
                <div class="center">
                    <h3 class="modal-title" id="latestUpdateLabel"><img src="{% static 'chat/img/favicon.png' %}"
                            width="50" height="50" alt=""> New Updates! Orgachat 1.2</h3>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    onclick="closeModal('#latestUpdate')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="center">
                        <div class="center">
                            <h2>What is new?</h2>
                        </div>
                    </div>
                    <br>
                    <div class="center">
                        <h2>Big updates</h2>
                    </div>

                    <p><b>Invite A Friend</b>: Clicking the button will redirect you to another social
                        media app where you can send the invitation link to your friends. When they click on it
                        he/she will get added to your friends list directly. you can find the button in your <a
                            href="{% url 'users:profile' %}">profile</a> and by clicking the three dots in the navbar
                    </p>
                    <br>
                    <ul>
                        <li>Added areas to divide your homepage, known as 'Homepage Area' &mdash; you can add them
                            from
                            the bottom right button in your homepage</li>
                        <li>Removing offline support &mdash; as it was causing the app to crash, we have plans to
                            add in a later update</li>
                        <li>Fixed app crashing</li>
                        <li>Added a page for each user &mdash; You can get it by clicking on the person username
                        </li>
                        <li>Added profile page &mdash; Click on your username in the navbar to open it</li>
                        <li>Added search bar for all users &mdash; It will search by username, email, country, first
                            name, last name</li>
                        <li>Added ultimate paginator for messages &mdash; Will make it load much faster</li>
                    </ul>
                    <br>
                    <div class="center">
                        <h2>Minor updates</h2>
                    </div>
                    <ul>
                        <li>Added first, last name, profile picture, bio, country to help others know who you are
                            &mdash; You will find in your profile</li>
                        <li>Bug fixes for groups</li>
                        <li>Changed the ordering of users &mdash; recently opened users will be on top</li>
                        <li>Added ultimate paginator for users page &mdash; Which will make it load much faster</li>
                        <li>You can now send multiple files at once</li>
                        <li>You now don't have to scroll down when you open the chat</li>
                        <li>Better homepage chat and more useful information about the last message</li>
                        <li>Better image displaying for chats</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                    onclick="closeModal('#latestUpdate')">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        function createCookie(name, value, days) {
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                var expires = "; expires=" + date.toGMTString();
            } else var expires = "";
            document.cookie = name + "=" + value + expires + "; path=/";
        }

        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        function eraseCookie(name) {
            createCookie(name, "", -1);
        }
        if (!readCookie('alreadyShown')) {
            openModal('#latestUpdate')
            createCookie('alreadyShown', true)
        }

    });
</script>
{% endblock content %}