{% extends 'chat/base.html' %}
{% load static %}

{% block title %}{{ room.title }} | Orgachat{% endblock title %}

{% block description %}Chat with your friends at Orgachat, {{ room.title }}{% endblock description %}

{% block content %}
<link rel="stylesheet" href="{% static 'chat/css/room.css' %}">
<script src="{% static 'chat/js/room.js' %}"></script>

<audio id="notification_sound">
    <source src="{% static 'chat/data/notification.flac' %}" type="audio/flac">
    Your browser does not support the audio element.
</audio>

<div class="container">
    <div class="messages">
        {% if room_messages.count <= 0 %}
        <div class="alert alert-info">Please make sure to refresh the page after sending the first message.  We will fix that soon. Thanks</div>
        {% endif %}
        {% for message in room_messages %}
        <div class="message {% if message.user == user %} self{% else %} other{% endif %}" data-id="{{ message.id }}">
            {% if message.user == user %}
            <p>You{% else %}{{ message.user }}{% endif %} &mdash; {{ message.area.title }}</p>
            <p>{{ message.content }}</p>
        </div>
        {% endfor %}
    </div>
</div>

<div class="page-wrapper chiller-theme">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="#" class="btn text-white"> Chat Dividers</a>
                <div id="close-sidebar">
                    <i class="fas fa-times text-white"></i>
                </div>
            </div>
            <!-- sidebar-header  -->
            <div class="areas-all">
                <ul>
                    <li><a href="{% url 'chat:room' room.id %}">All</a></li>
                    {% if not room.area_set.count <= 1 %}
                    {% for area in room.area_set.all %}
                    <li>
                        <a href="{% url 'chat:room' room.id %}?area_id={{ area.id }}">{{ area.title }}</a>
                        {% if user in area.star_users.all %}
                        <a href="{% url 'chat:star_area' area.id %}" class="float-right mr-4" style="color: #EBC12C"><i
                                class="fas fa-star"></i></a>
                        {% else %}
                        <a href="{% url 'chat:star_area' area.id %}" class="float-right mr-4 text-muted"><i
                                class="far fa-star"></i></a>
                        {% endif %}
                        {% if user in area.muted_users.all %}
                        <a href="{% url 'chat:mute_area' area.id %}" class="float-right mr-4 text-muted"><i
                                class="fas fa-volume-mute"></i> Unmute</a>
                        {% else %}
                        <a href="{% url 'chat:mute_area' area.id %}" class="float-right mr-4"><i
                                class="fas fa-volume-up"></i> Mute</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="area-add">
                <div class="">
                    {% if room.type == 'group' %}
                    <button type="button" class="btn text-white" onclick="openModal('#options')">
                        <i class="fas fa-cog"></i> Options</button>
                    <br>
                    {% endif %}
                    <a href="{% url 'home' %}" class="btn text-white"><img src="{% static 'chat/img/favicon.png' %}">
                        Orgachat</a>
                    <a href="{% url 'users:all_users' %}" class="btn text-white float-right mr-4"><i
                            class="fas fa-users"></i>
                        Users</a>
                </div>
                <form action="{% url 'chat:create_area' room.id %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="title" id="id_title" placeholder="Add chat divider" required maxlength="30">
                    <button type="submit" class="btn" style="vertical-align: middle; margin-top: -5px;"><i
                            class="fas fa-plus-circle" style="font-size: 200%; color: #4CD137;"></i></button>
                </form>
            </div>
    </nav>
    <!-- sidebar-wrapper  -->

    <div class="send-message">
        <form action="{% url 'chat:room' room.id %}" method="post" class="form-inline">
            {% csrf_token %}
            <input type="text" name="content" id="id_content" class="form-control" placeholder="Type your message"
                required>
            <div class="message-options">
                <select name="area" id="id_area">
                    {% for area in room.area_set.all %}
                    <option value="{{ area.id }}">{{ area.title }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-success" id="sendMessage"><i
                        class="fas fa-paper-plane"></i></button>
            </div>
        </form>
    </div>

    <!-- --------------------- -->
    <!-- MODALS -->
    <!-- --------------------- -->
    <div class="modal fade" id="options" tabindex="-1" role="dialog" aria-labelledby="optionsLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="optionsLabel">Options</h5>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item option-item active" data-target="#option-invite"
                            style="cursor: pointer;"><i class="fas fa-user-plus"></i> Invite</li>
                        <li class="list-group-item option-item" data-target="#option-members" style="cursor: pointer;">
                            <i class="fas fa-users"></i> Members</li>
                        <li class="list-group-item option-item" data-target="#option-settings" style="cursor: pointer;">
                            Settings</li>
                    </ul>
                    <br>
                    <br>
                    <div id="option-invite" class="option-menu">
                        {% for auser in users %}
                        <p>{{ auser.username }}
                            <a href="{% url 'chat:add_user' auser.id room.id %}" class="btn btn-success invite-btn"><i
                                    class="fas fa-plus"></i> Add</a>
                        </p>
                        <br>
                        {% endfor %}
                    </div>
                    <div id="option-members" class="option-menu" style="display: none;">
                        {% for member in room.chatters.all %}
                        <p>{{ member.username }}
                            <a href="{% url 'chat:remove_user' member.id room.id %}" class="btn btn-danger"
                                onclick="return confirm('You are about to remove {{ member.username }} Out of {{ room.name }}. Other members will know who removed him')"><i
                                    class="fas fa-minus"></i> Remove</a>
                        </p>
                        <br>
                        {% endfor %}
                    </div>
                    <div id="option-settings" class="option-menu" style="display: none;">
                        <h3 style="text-align: center;">{{ room.title }}</h3>
                        <br>
                        Under developing
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'chat:room' room.id %}" class="btn btn-primary">Done</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // ---------------------------
            // INTERFACE
            // ---------------------------
            // ----------Toggle Options------------
            var optionBtns = document.querySelectorAll('.option-item')
            var options = document.querySelectorAll('.option-menu')
            for (btn of optionBtns) {
                btn.onclick = function (e) {
                    for (btn of optionBtns) {
                        btn.classList.remove('active')
                    };
                    for (option of options) {
                        option.style.display = 'none';
                    };
                    this.classList.add('active')
                    document.querySelector(this.getAttribute('data-target')).style.display = 'block';
                }
            }
            // ------------Invite members------------
            var inviteBtns = document.querySelectorAll('.invite-btn')
            for (inviteBtn of inviteBtns) {
                inviteBtn.onclick = function (e) {
                    e.preventDefault();
                    this.parentNode.style.display = 'none';
                    let xhrInvite = new XMLHttpRequest();
                    xhrInvite.onreadystatechange = function (e) {
                        if (this.readyState == 4 && this.status == 200) {}
                    }
                    xhrInvite.open('GET', this.getAttribute('href'), true)
                    xhrInvite.send()
                }
            }
            // --------------------------
            // FUNCTIONS
            // --------------------------
            document.querySelector('#sendMessage').onclick = function (e) {
                e.preventDefault();
                if (document.querySelector('#id_content').value == '' || !document.querySelector(
                        '#id_content').value) {
                    return false
                } else {
                    // ------------SEND AND MESSAGE---------------
                    let xhr = new XMLHttpRequest();
                    xhr.onreadystatechange = function (e) {
                        if (this.readyState == 4 && this.status == 200) {
                            let content = document.querySelector('#id_content').value
                            document.querySelector('#id_content').value = '';
                            let areaDiv = document.getElementById('id_area')
                            let area = areaDiv.options[areaDiv.selectedIndex].text
                            let lastId = parseInt(document.querySelectorAll('.message')[document
                                .querySelectorAll('.message').length - 1].getAttribute(
                                'data-id'))
                            document.querySelector('.messages').innerHTML += `
            <div class="message self" data-id=${lastId+1}>
            <p>You &mdash; ${area}:</p>
            <p>${content}</p>
        </div>
            `
                            document.querySelector('#notification_sound').play()
                        }
                    }
                    xhr.open("POST", "{% url 'chat:room' room.id %}", true);
                    xhr.setRequestHeader('Content-type', "application/x-www-form-urlencoded");
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                    data = {
                        'content': document.querySelector('#id_content').value,
                        'area': parseInt(document.querySelector('#id_area').value),
                    }
                    xhr.send(JSON.stringify(data));
                }
            }
            // -------------LOAD NEW MESSAGES-----------------
            var xhrLoad = new XMLHttpRequest();
            xhrLoad.onreadystatechange = function (e) {
                if (this.readyState == 4 && this.status == 200) {
                    let response = JSON.parse(this.responseText);
                    let newMessages = response.new_messages
                    if (!newMessages || newMessages.length <= 0) {
                        return false
                    } else {
                        for (message of newMessages) {
                            document.querySelector('.messages').innerHTML += `
                        <div class="message other" data-id="${message.id}">
            <p>${message.user} &mdash;${message.area}:</p>
            <p>${message.content}</p>
        </div>
                        `
                            document.querySelector('#notification_sound').play()
                        }
                    }
                };
            };
            setInterval(() => {
                xhrLoad.open('POST', "{% url 'chat:load_messages' room.id %}", true)
                xhrLoad.setRequestHeader('Content-type', "application/x-www-form-urlencode");
                xhrLoad.setRequestHeader('X-CSRFToken', '{{ csrf_token }}')
                let dataLoad = {
                    'last_id': parseInt(document.querySelectorAll('.message')[document
                        .querySelectorAll(
                            '.message').length - 1].getAttribute('data-id')),
                };

                xhrLoad.send(JSON.stringify(dataLoad))
            }, 3000)
        });
    </script>
</div>
{% endblock content %}