{% extends 'chat/base.html' %}
{% load static %}

{% block title %}{{ room.title }} | Orgachat{% endblock title %}

{% block description %}Chat with your friends at Orgachat, {{ room.title }}{% endblock description %}

{% block content %}
<!-- !!!!!!!!!!!!!!! -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>



<link rel="stylesheet" href="{% static 'chat/css/room.css' %}">
<script src="{% static 'chat/js/room.js' %}"></script>

<audio id="notification_sound">
    <source src="{% static 'chat/data/notification.flac' %}" type="audio/flac">
    Your browser does not support the audio element.
</audio>

<!-- ------------------- -->
<!-- CHAT -->
<!-- ------------------- -->
<div class="menu">
    <a href="{% url 'home' %}" class="back"><i class="fa fa-angle-left"></i> <img src="{% static 'chat/img/def.png' %}"
            draggable="false" /></a>
    <div class="name">{{ room.title }}</div>
    <div class="members"><b>You</b>, ...</div>
    <i class="fa fa-paperclip" id="attachFileBtn" onclick="openModal('#attachFile');"></i>
</div>

<ol class="chat">
    <ul style="list-style: none;" class="messages">
        {% if room_messages.count <= 0 %}
        <li class="message" data-id="0"></li>
        {% endif %}
        {% for room_message in room_messages %}
        <li class="message {% if room_message.user == user %}self {% else %} other {% endif %}"
            data-id="{{ room_message.id }}">
            <div class="msg">
                <p>{% if room_message.user == user %}You
                    {% else %}{{room_message.user}}{% endif %}{% if room_message.area %} &mdash; {{ room_message.area }}
                    {% endif %}</p>
                {% if room_message.text %}
                <p>{{ room_message.content }}</p>
                {% else %}
                {{ room_message.content|safe }}
                <br>
                {% endif %}
                <time>{{ room_message.date|timesince }}</time>
            </div>
        </li>
        {% endfor %}
</ol>
<div class="typezone">
    <form action="{% url 'chat:room' room.id %}" method="POST">
        {% csrf_token %}
        <textarea type="text" name="text" id="messageText" placeholder="Say something" rows="1" required></textarea>
        <div class="areaSelector hide">
            <label for="area">Area: </label>
            <select name="area" id="area" style="width: 155px">
                {% for area in room.area_set.all %}
                <option value="{{ area.id }}">{{ area.title }}</option>
                {% endfor %}
            </select>
        </div>
        <i class="fas fa-microphone" id="record"></i>
        <button id="sendMessage"><i class="fas fa-paper-plane"></i></button>
    </form>
</div>

<!-- TODO change text area displaying -->
<!-- ---------------------- -->
<!-- SIDEBAR -->
<!-- ---------------------- -->
<div class="page-wrapper chiller-theme">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="#" class="btn text-white"> Chat Dividers</a>
                <div id="close-sidebar">
                    <i class="fas fa-times text-white"></i>
                </div>
            </div>
            <!-- sidebar-header  -->
            <div class="areas-all">
                <ul class="messages">
                    <li><a href="{% url 'chat:room' room.id %}">All</a></li>
                    {% if not room.area_set.count <= 1 %}
                    {% for area in room.area_set.all %}
                    <li>
                        <a href="{% url 'chat:room' room.id %}?area_id={{ area.id }}">{{ area.title }}</a>
                        {% if user in area.star_users.all %}
                        <a href="{% url 'chat:star_area' area.id %}" class="float-right mr-4" style="color: #EBC12C"><i
                                class="fas fa-star"></i></a>
                        {% else %}
                        <a href="{% url 'chat:star_area' area.id %}" class="float-right mr-4 text-muted"><i
                                class="far fa-star"></i></a>
                        {% endif %}
                        {% if user in area.muted_users.all %}
                        <a href="{% url 'chat:mute_area' area.id %}" class="float-right mr-4 text-muted"><i
                                class="fas fa-volume-mute"></i> Unmute</a>
                        {% else %}
                        <a href="{% url 'chat:mute_area' area.id %}" class="float-right mr-4"><i
                                class="fas fa-volume-up"></i> Mute</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="area-add">
                <div class="">
                    {% if room.type == 'group' %}
                    <button type="button" class="btn text-white" onclick="openModal('#options')">
                        <i class="fas fa-cog"></i> Options</button>
                    <br>
                    {% endif %}
                    <a href="{% url 'home' %}" class="btn text-white"><img src="{% static 'chat/img/favicon.png' %}">
                        Orgachat</a>
                    <a href="{% url 'users:all_users' %}" class="btn text-white float-right mr-4"><i
                            class="fas fa-users"></i>
                        Users</a>
                </div>
                <form action="{% url 'chat:create_area' room.id %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="title" id="id_title" placeholder="Add chat divider" required
                        maxlength="30">
                    <button type="submit" class="btn" style="vertical-align: middle; margin-top: -5px;"><i
                            class="fas fa-plus-circle" style="font-size: 200%; color: #4CD137;"></i></button>
                </form>
            </div>
    </nav>
    <!-- sidebar-wrapper  -->
</div>

<!-- --------------------- -->
<!-- MODALS -->
<!-- --------------------- -->

<!-- ---------Group Options---------- -->
<div class="modal fade" id="options" tabindex="-1" role="dialog" aria-labelledby="optionsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="optionsLabel">Options</h5>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item option-item active" data-target="#option-invite"
                        style="cursor: pointer;"><i class="fas fa-user-plus"></i> Invite</li>
                    <li class="list-group-item option-item" data-target="#option-members" style="cursor: pointer;">
                        <i class="fas fa-users"></i> Members</li>
                    <li class="list-group-item option-item" data-target="#option-settings" style="cursor: pointer;">
                        Settings</li>
                </ul>
                <br>
                <br>
                <div id="option-invite" class="option-menu">
                    {% for auser in users %}
                    <p>{{ auser.username }}
                        <a href="{% url 'chat:add_user' auser.id room.id %}" class="btn btn-success invite-btn"><i
                                class="fas fa-plus"></i> Add</a>
                    </p>
                    <br>
                    {% endfor %}
                </div>
                <div id="option-members" class="option-menu" style="display: none;">
                    {% for member in room.chatters.all %}
                    <p>{{ member.username }}
                        <a href="{% url 'chat:remove_user' member.id room.id %}" class="btn btn-danger"
                            onclick="return confirm('You are about to remove {{ member.username }} Out of {{ room.name }}. Other members will know who removed him')"><i
                                class="fas fa-minus"></i> Remove</a>
                    </p>
                    <br>
                    {% endfor %}
                </div>
                <div id="option-settings" class="option-menu" style="display: none;">
                    <h3 style="text-align: center;">{{ room.title }}</h3>
                    <br>
                    Under developing
                </div>
            </div>
            <div class="modal-footer">
                <a href="{% url 'chat:room' room.id %}" class="btn btn-primary">Done</a>
            </div>
        </div>
    </div>
</div>

<!-- ----------Attach file------------ -->
<div class="modal fade" id="attachFile" tabindex="-1" role="dialog" aria-labelledby="attachFileLabel" aria-hidden="true"
    style="margin-top: 5%">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    onclick="closeModal('#attachFile')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'chat:save_file_message' room.id %}" method="post" enctype="multipart/form-data">
                    <div style="display: none;">
                        {% csrf_token %}
                        <label for="uploadVideo">Video</label>
                        <input type="file" name="video" class="upload" id="uploadVideo" accept="video/*">

                        <label for="uploadImage">Image</label>
                        <input type="file" name="image" class="upload" id="uploadImage" accept="image/*">

                        <label for="uploadFile">File</label>
                        <input type="file" name="file" class="upload" id="uploadFile">

                        <label for="uploadAudio">Audio</label>
                        <input type="file" name="audio" class="upload" id="uploadAudio" accept="audio/*">

                        <button type="submit" id="saveAttachedFile">Send</button>
                    </div>
                    <label for="area">Area </label>
                    <select name="area" style="width: 155px">
                        {% for area in room.area_set.all %}
                        <option value="{{ area.id }}">{{ area.title }}</option>
                        {% endfor %}
                    </select>
                </form>
                <br>
                <button onclick="document.querySelector('#uploadVideo').click()"
                    class="btn btn-outline-success mr-3 ml-3 mb-3">
                    <i class="fas fa-video"></i> Video
                </button>
                <button onclick="document.querySelector('#uploadImage').click()"
                    class="btn btn-outline-success mr-3 mb-3">
                    <i class="far fa-image"></i> Image
                </button>
                <button onclick="document.querySelector('#uploadFile').click()"
                    class="btn btn-outline-success mr-3 mb-3">
                    <i class="fas fa-file"></i> File
                </button>
                <button onclick="document.querySelector('#uploadAudio').click()"
                    class="btn btn-outline-success mr-3 mb-3">
                    <i class="fas fa-headphones"></i> Audio
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // ---------------------------
        // INTERFACE
        // ---------------------------
        // ----------Toggle Options------------
        var optionBtns = document.querySelectorAll('.option-item')
        var options = document.querySelectorAll('.option-menu')
        for (btn of optionBtns) {
            btn.onclick = function (e) {
                for (btn of optionBtns) {
                    btn.classList.remove('active')
                };
                for (option of options) {
                    option.style.display = 'none';
                };
                this.classList.add('active')
                document.querySelector(this.getAttribute('data-target')).style.display = 'block';
            }
        }
        // ------------Invite members------------
        var inviteBtns = document.querySelectorAll('.invite-btn')
        for (inviteBtn of inviteBtns) {
            inviteBtn.onclick = function (e) {
                e.preventDefault();
                this.parentNode.style.display = 'none';
                let xhrInvite = new XMLHttpRequest();
                xhrInvite.onreadystatechange = function (e) {
                    if (this.readyState == 4 && this.status == 200) {}
                }
                xhrInvite.open('GET', this.getAttribute('href'), true)
                xhrInvite.send()
            }
        }
        // --------------------------
        // MAIN FUNCTIONS
        // --------------------------
        document.querySelector('#sendMessage').onclick = function (e) {
            e.preventDefault();
            if (document.querySelector('#messageText').value == '' || !document.querySelector(
                    '#messageText').value) {
                return false
            } else {
                // ------------SEND AND MESSAGE---------------
                let xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function (e) {
                    if (this.readyState == 4 && this.status == 200) {
                        let text = document.querySelector('#messageText').value
                        document.querySelector('#messageText').value = '';
                        let areaDiv = document.getElementById('area')
                        let area = areaDiv.options[areaDiv.selectedIndex].text
                        let lastId = parseInt(document.querySelectorAll('.message')[document
                            .querySelectorAll('.message').length - 1].getAttribute(
                            'data-id'))

                        document.querySelector(".messages").innerHTML += `<li class="message self" data-id="${lastId + 1}">
            <div class="msg">
                <p>You &mdash; ${area}</p>
                <p>${text}</p>
                <time>Now</time>
            </div>
        </li>`
                        document.querySelector('#notification_sound').play()
                    }
                }
                xhr.open("POST", "{% url 'chat:room' room.id %}", true);
                xhr.setRequestHeader('Content-type', "application/x-www-form-urlencoded");
                xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                data = {
                    'text': document.querySelector('#messageText').value,
                    'area': parseInt(document.querySelector('#area').value),
                }
                xhr.send(JSON.stringify(data));
            }
        }


        // ----------------RECORD AUDIO MESSAGE----------------

        const record = document.querySelector('#record')
        let chunks = [];
        // Check if getUserMedia is supported
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({
                audio: true
            }).then(function (stream) {
                let mediaRecorder = new MediaRecorder(stream);
                record.onclick = function (e) {
                    if (record.style.color == '') {
                        // Start recording
                        mediaRecorder.start()
                        record.style.color = "#4CD137";
                        record.style.backgroundColor = "black";
                        document.querySelector(".areaSelector").classList.remove("hide")
                        mediaRecorder.ondataavailable = function (e) {
                            chunks.push(e.data);
                            // End recording
                        };
                    } else {
                        record.style.color = '';
                        record.style.backgroundColor = '';
                        document.querySelector(".areaSelector").classList.add("hide")
                        mediaRecorder.stop();
                    }
                    // Getting the blob
                    mediaRecorder.onstop = function (e) {
                        const blob = new Blob(chunks, {
                            'type': 'audio/ogg; codecs=opus'
                        });
                        chunks = [];
                        const audioURL = window.URL.createObjectURL(blob);
                        // Sending to django
                        e.preventDefault();
                        var fd = new FormData();
                        fd.append('audio', blob);
                        fd.append('area', parseInt(document.querySelector('#area').value));
                        fd.append('csrfmiddlewaretoken', "{{ csrf_token }}")
                        $.ajax({
                            url: '{% url "chat:record_audio_message" room.id %}',
                            type: 'POST',
                            data: fd,
                            processData: false,
                            contentType: false,
                            success: function (data) {
                                let messages = document.querySelectorAll('.message')
                                let lastId = parseInt((messages)[messages.length -
                                    1].getAttribute('data-id'))
                                let areaDiv = document.getElementById('area')
                                let area = areaDiv.options[areaDiv.selectedIndex]
                                    .text
                                document.querySelector(".messages").innerHTML += `<li class="message self" data-id="${lastId + 1}">
            <div class="msg">
                <p>You &mdash; ${area}</p>
                <audio controls>
                        <source src="${audioURL}" type="audio/pcm">
                        <source src="${audioURL}" type="audio/wav">
                        <source src="${audioURL}" type="audio/aiff">
                        <source src="${audioURL}" type="audio/mp3">
                        <source src="${audioURL}" type="audio/aac">
                        <source src="${audioURL}" type="audio/ogg">
                        <source src="${audioURL}" type="audio/flac">
                        <source src="${audioURL}" type="audio/wma">
                    Your browser does not support the audio element.
                </audio>
                <time>Now</time>
            </div>
        </li>`
                                document.querySelector('#notification_sound').play()
                            },
                            error: function () {
                                alert('Internal Server Error')
                            }
                        })
                        // End sending to django
                    }
                    // End getting the blob
                }
            }).catch(function (err) {
                alert(
                    'Please allow the microphone permission to record voice messages'
                )
            })
        } else {
            alert('Your browser doesn\'t support user recording audio')
        }


        // -------------LOAD NEW MESSAGES-----------------
        var xhrLoad = new XMLHttpRequest();
        xhrLoad.onreadystatechange = function (e) {
            if (this.readyState == 4 && this.status == 200) {
                let response = JSON.parse(this.responseText);
                let newMessages = response.new_messages
                if (!newMessages || newMessages.length <= 0) {
                    return false
                } else {
                    for (message of newMessages) {
                        var content
                        if (message.isText == "True" || message.isText) {
                            content = `<p>${message.content}</p>`
                        } else {
                            content = `${message.content}
                            <br>`
                        }
                        document.querySelector(".messages").innerHTML += `
                        <li class="message other" data-id="${message.id}">
            <div class="msg">
                <p>${message.user} &mdash; ${message.area}</p>
                ${content}
                <time>Now</time>
            </div>
        </li>`
                        document.querySelector('#notification_sound').play()
                    }
                }
            };
        };
        setInterval(() => {
            xhrLoad.open('POST', "{% url 'chat:load_messages' room.id %}", true)
            xhrLoad.setRequestHeader('Content-type', "application/x-www-form-urlencode");
            xhrLoad.setRequestHeader('X-CSRFToken', '{{ csrf_token }}')
            let messages = document.querySelectorAll('.message')
            let dataLoad = {
                'last_id': parseInt((messages)[messages.length - 1].getAttribute('data-id')),
            };

            xhrLoad.send(JSON.stringify(dataLoad))
        }, 3000)

    });
</script>
{% endblock content %}