/* ------------ */
/* COLORS */
/* ------------- */
/* ------Green-------- */
/* Base Color: #4CD137 */

/* ------Yellow-------- */
/* #EBC12C  ( In logo ) */

/* --------------- */
/* MAIN SETUP */
/* --------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    font-size: 18px;
}

/* --------------- */
/* HEADER */
/* --------------- */

/* ----------Navbar---------- */
.navbar-main {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #4cd137;
}

.nav-item {
    margin-right: 25px
}

.scrolled-down {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* ------------------ */
/* REUSABLE */
/* ------------------ */

/* Iframes */
.video-container iframe {
    max-width: 100%;
    max-height: 100%;
}

/* ------Buttons------- */
.btn-success {
    background-color: #4CD137;
}

.btn-warning {
    background-color: #EBC12C;
}