/* ------Green-------- */
/* Base Color: #4CD137 */

/* ------Yellow-------- */
/* #EBC12C  ( In logo ) */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    font-size: 18px;
}

/* --------------- */
/* HEADER */
/* --------------- */

.navbar-main{z-index:1030;background-color:#4cd137}.nav-item{margin-right:25px}.scrolled-down{transform:translateY(-100%);transition:all .3s ease-in-out}.scrolled-up{transform:translateY(0);transition:all .3s ease-in-out}#mainDropdown{width:270px;padding:15px 5px 3px 5px;top:50px;right:10px}.modal-header{background-color:#4cd137;color:#fff}.install-card{background-color:#ba2e5f;color:#fff;display:flex;justify-content:center;align-items:center;flex-direction:row}.install-card .right{padding-left:20px}#toast{visibility:hidden;max-width:50px;height:50px;margin:auto;background-color:#333;color:#fff;text-align:center;border-radius:2px;position:fixed;left:0;right:0;bottom:30px;font-size:17px;white-space:nowrap;z-index:1500}#toast #toastImg{width:50px;height:50px;float:left;padding-top:5px;padding-bottom:5px;background-color:#111;color:#fff}#toast #toastDesc{color:#fff;padding:16px;overflow:hidden;white-space:nowrap}#toast.show{visibility:visible;-webkit-animation:fadein .5s,expand .5s .5s,stay 3s 1s,shrink .5s 2s,fadeout .5s 2.5s;animation:fadein .5s,expand .5s .5s,stay 3s 1s,shrink .5s 4s,fadeout .5s 4.5s}@-webkit-keyframes fadein{from{bottom:0;opacity:0}to{bottom:30px;opacity:1}}@keyframes fadein{from{bottom:0;opacity:0}to{bottom:30px;opacity:1}}@-webkit-keyframes expand{from{min-width:50px}to{min-width:350px}}@keyframes expand{from{min-width:50px}to{min-width:350px}}@-webkit-keyframes stay{from{min-width:350px}to{min-width:350px}}@keyframes stay{from{min-width:350px}to{min-width:350px}}@-webkit-keyframes shrink{from{min-width:350px}to{min-width:50px}}@keyframes shrink{from{min-width:350px}to{min-width:50px}}@-webkit-keyframes fadeout{from{bottom:30px;opacity:1}to{bottom:60px;opacity:0}}@keyframes fadeout{from{bottom:30px;opacity:1}to{bottom:60px;opacity:0}}
/* ------------------ */
/* REUSABLE */
/* ------------------ */

section {
    margin-bottom: 90px;
}

div.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* ------Headings---------- */
h2 {
    margin: 15px 0;
}

h2:after {
    content: " ";
    display: block;
    background-color: #4CD137;
    width: 160px;
    height: 2px;
    margin: 15px auto;
}

/* Iframes */
.video-container iframe {
    max-width: 100%;
    max-height: 100%;
}

/* ------Buttons------- */
.btn-success {
    background-color: #4CD137;
}

.btn-warning {
    background-color: #EBC12C;
}

.btn-install{flex:1;width:100%;background-image:linear-gradient(-180deg,#ffc21c 3%,#ea6e18 100%);box-shadow:0 0 4px 3px #ec6b17,inset 0 0 10px 0 #fdd41e;border-radius:600px;min-height:50px;display:flex;flex-direction:row;justify-content:center;align-items:center;overflow:hidden}.btn-install .btn-text{padding:10px 20px;text-transform:uppercase;font-weight:700;font-size:26px;display:flex;justify-content:center;align-items:center}.btn-install .btn-icon{height:60px;width:60px;display:flex;justify-content:center;align-items:center;font-size:35px;opacity:.3;background:#e5690f;color:#fff;text-shadow:0 2px 4px #000}.btn-circle{border-radius:50%}
/* ----------I--------- */
.i-lg {
    font-size: 40px;
}

.i-md {
    font-size: 25px;
}

/* ---------Displaying-------- */
.hide {
    transform: scale(0);
    transition: all 0.4s cubic-bezier(0.565, -0.260, 0.255, 1.410)
}


/* -------------------------------- */
/* Media queries */
/* -------------------------------- */
@media screen and (max-width:590px){.nav-label{display:none}.nav-link{font-size:1.4em}.nav-item{margin-left:10px}}@media screen and (max-width:990px){.install-card .left.flex{margin-left:20px}.btn-install .btn-icon{height:100px}}@media screen and (max-width:530px){.install-card{display:block;display:block}}