{% extends 'chat/base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
<section>

    <div class="video-container">
        <iframe src="https://www.youtube.com/embed/xAJIVX5tXeg" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen style="width: 100vw; height: 70vh"></iframe>
    </div>
</section>
<section>
    <div class="center">
        <h2>What is Orgachat?</h2>
    </div>
    <div class="col-md-7" style="line-height: 30px;">
        <p>Orgachat is a simple chat app that helps users to keep their chat more organized, which can be very helpful
            for
            managing teams and competitions</p>
    </div>
</section>
<section>
    <div class="center">
        <h2>Why to use Orgachat</h2>
    </div>
    <div class="col-md-7">
        <p>Organized, fast, simple chat app. Very secure as well and we will NEVER sell use your data </p>
    </div>
</section>
<section>
    <div class="center">
        <h2>More info about us</h2>
    </div>
    <h4 class="ml-2">Founder</h4>
    <p class="ml-4"><a href="https://zeyadshaban.netlify.app" target="_blank">Zeyad Shaban</a></p>
    <br>
    <h4 class="ml-2">Social acounts</h4>
    <ul class="social-icons icon-circle list-unstyled list-inline">
        <li> <a href="https://www.youtube.com/channel/UCLb42dgmeMCA0gYP_1P6EzA/featured?sub_confirmation=1" target="_blank"><i
                    class="fa fa-youtube"></i></a></li>
        <li> <a href="https://twitter.com/orgachat" target="_blank"><i class="fa fa-twitter"></i></a></li>
    </ul>
</section>

<style>
    .list-unstyled{padding-left:0;list-style:none}.list-inline li{display:inline-block;padding-right:5px;padding-left:5px;margin-bottom:10px}.social-icons .fa{font-size:1.8em;width:50px;height:50px;line-height:50px;text-align:center;color:#FFF;color:rgba(255,255,255,0.8);-webkit-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}.social-icons.icon-circle .fa{border-radius:50%}.social-icons.icon-rounded .fa{border-radius:5px}.social-icons.icon-flat .fa{border-radius:0}.social-icons .fa:hover,.social-icons .fa:active{color:#FFF;-webkit-box-shadow:1px 1px 3px #333;box-shadow:1px 1px 3px #333}.social-icons .fa-twitter{background-color:#32CCFE}.social-icons .fa-youtube{background-color:#C52F30}
</style>
{% endblock content %}