{% extends 'users/base.html' %}
{% block title %}Privacy Policy{% endblock title %}
{% block content %}

<div class="wrapper">
    <div class="page">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="center">
                        <h1>Privacy Policy for Orgachat</h1>
                    </div>
                    <p>At Orgachat, accessible at Google Play Store and API at https://orgachat.herokuapp.com., one of
                        our main priorities is
                        the privacy of our visitors. This Privacy Policy document contains types of information that is
                        collected and recorded by Orgachat and how we use it.</p>
                    <p>If you have additional questions or require more information about our Privacy Policy, do not
                        hesitate to contact us officialorgachat@gmail.com.</p>
                    <p>This Privacy Policy applies only to our online activities and is valid for visitors to our
                        mobile app with regards to the information that they shared and/or collect in Orgachat. This policy
                        is not applicable to any information collected offline or via channels other than this app.
                        Our Privacy Policy was created with the help of the <a
                            href="https://www.privacypolicygenerator.info" target="_blank">Privacy Policy Generator</a>
                        and the <a href="https://www.generateprivacypolicy.com/" target="_blank">Privacy Policy
                            Generator</a>.</p>
                    <div class="center">
                        <h2>Consent</h2>
                    </div>
                    <p>By using our app, you hereby consent to our Privacy Policy and agree to its terms. For our
                        Terms and Conditions, please visit the <a
                            href="{% url 'termsandconditions' %}">Terms&amp;Conditions</a>.</p>
                    <div class="center">
                        <h2>Information we collect and how we use them</h2>
                    </div>
                    <p>We collect essential data only</p>
                    <ul>
                        <li>Your Email address</li>
                        <p>- A user needs to enter a valid email address in order to login, other users won't see your
                            email address.</p>
                        <p>- We will send you mails to keep you updated only if you want. To stop getting mails from
                            Orgachat reply to any message from our team with "Unsubscribe" or "Stop"</p>
                        <li>Your chat messages you send</li>
                        <p>- We won't show your messages to anyone other than you and the person you are chatting with.
                        </p>
                        <p>- We count the total number of messages each day to help us in our metrics.</p>
                        <li>Optional Avatar to help others identify you</li>
                    </ul>
                    <div class="center">
                        <h2>Log Files</h2>
                    </div>
                    <p>Orgachat follows a standard procedure of using log files. These files log visitors when they
                        visit the app. All hosting companies do this and a part of hosting services' analytics. The
                        information collected by log files include internet protocol (IP) addresses, mobile type,
                        Internet Service Provider (ISP), date and time stamp, referring/exit pages, and errros. These are not linked to any information that is personally identifiable. The
                        purpose of the information is for analyzing trends, administering the site, tracking users'
                        movement on the app, and gathering demographic information to improve the app in the
                        right way.</p>
                    <div class="center">
                        <h2>CCPA Privacy Rights (Do Not Sell My Personal Information)</h2>
                    </div>
                    <p>Under the CCPA, among other rights, California consumers have the right to:</p>
                    <p>Request that a business that collects a consumer's personal data disclose the categories and
                        specific pieces of personal data that a business has collected about consumers.</p>
                    <p>Request that a business delete any personal data about the consumer that a business has
                        collected.</p>
                    <p>Request that a business that sells a consumer's personal data, not sell the consumer's personal
                        data.</p>
                    <p>If you make a request, we have one month to respond to you. If you would like to exercise any of
                        these rights, please contact us officialorgachat@gmail.com .</p>
                    <div class="alert alert-info">We Will Never Sell Your Data</div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}