{% extends 'chat/base.html' %}
{% load static %}

{% block title %}Profile{% endblock title %}

{% block content %}
<div class="container">
    <br>
    <h1>UNDER DEVELOPING</h1>
    <h4>Our todo list:</h4>

    <ol>
        <li>profile picture (Avatar)</li>
        <li>Privacy options</li>
        <li>Update profile</li>
        <li>Status</li>
        <li>Friends list (and choose who can see it)</li>
        <li>What data others can see (for now username only)</li>
        <li>Phone number maybe</li>
    </ol>
    <h3>Stay tuned for the next updates <img src="{% static 'chat/img/favicon.png' %}" alt=""></h3>
</div>
{% endblock content %}