{% extends 'chat/base.html' %}

{% block title %}{{viewed_user.username}}{% endblock title %}

{% block description %}{{viewed_user.about}}{% endblock description %}


{% block content %}
<div class="center">
    <h2>{{viewed_user.username}}</h2>
    <div class="col-lg-4">
        <img src="{{viewed_user.avatar.url}}" class="float-left mr-3" alt="" style="border-radius: 50%;" width="200"
            height="200">
    </div>
</div>
<div class="media col-lg-5">
    <div class="media-body">
        <p>First: {{viewed_user.first_name}} &mdash; Last: {{viewed_user.last_name}}</p>
        <p><i class="fas fa-envelope"></i> Email: {{viewed_user.email}}</p>
        <p><i class="fas fa-globe-asia"></i> Country: {{viewed_user.country}}</p>
        <p>About: {{viewed_user.about}}</p>
    </div>
</div>
{% if viewed_user in user.friends.all %}
<a href="{% url 'users:remove_friend' viewed_user.id %}" class="btn btn-danger mt-5">Remove friend</a>
{% else %}
<a href="{% url 'users:add_friend' viewed_user.id %}" class="btn btn-success mt-5">Add friend</a>
{% endif %}
</section>
{% endblock content %}