@import url('https://fonts.googleapis.com/css?family=Abel');

body {
    background: #f0eded;
    font-family: 'Abel', sans-serif;
}

#wrapper {
    width: 100%;
}

@media screen and (min-width: 1024px) {
    #wrapper {
        width: 1100px;
        margin: 0 auto;
    }
}

#wrapper .form-layout {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "left"".""right";
    background: #fff;
}

@media screen and (min-width: 1024px) {
    #wrapper .form-layout {
        grid-template-columns: 50% 50%;
        grid-template-areas: "left right";
        grid-template-rows: auto;
        flex-direction: row;
        margin: 0 auto;
    }
}

#wrapper .form-layout .form-left {
    grid-area: left;
    /* background: in html file; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    width: 100%;
    position: relative;
    padding: 25px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: "logo""info""footer";
}

#wrapper .form-layout .form-left:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
}

#wrapper .form-layout .form-left .logo {
    grid-area: logo;
    align-self: start;
    color: #fff;
    z-index: 2;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
}

#wrapper .form-layout .form-left .info {
    grid-area: info;
    color: #fff;
    z-index: 2;
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    align-self: center;
}

#wrapper .form-layout .form-left .info span {
    display: block;
    font-size: 24px;
    text-transform: none;
}

#wrapper .form-layout .form-left .footer {
    grid-area: footer;
    color: #fff;
    z-index: 2;
    align-self: end;
    text-align: center;
}

#wrapper .form-layout .form-left .footer a {
    color: #fff;
}

#wrapper .form-layout .form-right {
    grid-area: right;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    padding: 0 20px;
    box-sizing: border-box;
}

#wrapper .form-layout .form-right div {
    width: 100%;
    margin: 10px 0;
    position: relative;
}

#wrapper .form-layout .form-right div input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #e1e1e1;
    padding: 8px 0;
    box-sizing: border-box;
    color: #666;
    transition: all 0.2s ease;
}

#wrapper .form-layout .form-right div input:focus {
    outline: none;
    border-color: #afd275;
    box-sizing: border-box;
}

#wrapper .form-layout .form-right .buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

#wrapper .form-layout .form-right .buttons a.create-account {
    background: #c2cad0;
    display: inline-block;
    color: #000;
    text-decoration: none;
    padding: 8px 15px;
    transition: all 0.2s ease;
}

#wrapper .form-layout .form-right .buttons a.create-account:hover {
    background: #afd275;
    color: #000;
}

#wrapper .form-layout .form-right .buttons a.forgot-login {
    color: #000;
    transition: all 0.2s ease;
}

#wrapper .form-layout .form-right .buttons a.forgot-login:hover {
    color: #e7717d;
}